<footer class="mainFooter">
  <div class="footerCorporate">
    <div class="wrapper">
      <ul role="menu">
        <li>
          <strong>© PUULU 2023</strong>
        </li>

        <li>
          <a class="" href="/">link 1</a>
        </li>

        <li>
          <a class="" href="/">link 2</a>
        </li>

        <li>
          <a class="" href="">link 3</a>
        </li>
      </ul>

      <div class="official">
        <a class="footerCorporate__logo-container" href="/">
          <%# <img alt="Premier League" class="footerCorporate__logo" src="https://www.premierleague.com/resources/rebrand/v7.123.12/i/elements/pl-logo-full.svg"> %>LOGO
        </a>
      </div>
    </div>
  </div>
</footer>
